= form_for [:admin, espresso] do |f|
  - if espresso.errors.any?
    %ul
      - espresso.errors.full_messages.each do |msg|
        %li= msg

  %p
    = f.label :title
    = f.text_field :title

  .actions
    = f.submit 'Save'
