%h1 Listing espressos

%p
  This is CRUD example where neither the model is not namespaced, but the
  controller is namespaced.

%table
  %tbody
    - @espressos.each do |espresso|
      %tr
        %td= link_to espresso.title, [:edit, :admin, espresso]
        %td
          (
          = link_to espresso.title, edit_admin_espresso_path(espresso)
          )
        %td= link_to 'Destroy', [:admin, espresso], method: :delete,
          data: { confirm: 'Are you sure?' }
        %td
          (
          = link_to 'Destroy', admin_espresso_path(espresso), method: :delete,
            data: { confirm: 'Are you sure?' }
          )

%p= link_to 'New Espresso', new_admin_espresso_path

%p= link_to 'Home', welcome_index_path
