%h1 New cat

-# We cannot use the shared partial here because for the NEW action, the URL
  needs to be "cats_path", while for the EDIT action, the URL needs to be
  cat_path.
= form_for @cat, as: :cat, url: cats_path do |f|
  - if @cat.errors.any?
    %ul
      - @cat.errors.full_messages.each do |msg|
        %li= msg

  %p
    = f.label :title
    = f.text_field :title

  .actions
    = f.submit 'Save'

= link_to 'Back', cats_path
